.app-header {
    background-color: $midnight-green;
    color:$white;
    height: 121px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .app-header-content {
        width: 1110px;
        height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .app-header-left {
            width: 380px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .logo {
                width: 160px;
                height: 40px;
            }

            nav {
                color:$white;
                width: 140px;
                height: 28px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

@media (max-width: $mobile-breakpoint) {
    .app-header {
        background-color: $midnight-green;
        color:$white;
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    
        .app-header-content {
            width: 327px;
            height: 48px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
    
            .app-header-left {
                width: 380px;
                height: 40px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
    
                .logo {
                    width: 160px;
                    height: 40px;
                }
    
                nav {
                    color:$white;
                    width: 140px;
                    height: 28px;
                    display: flex;
                    justify-content: space-between;
                    display: none;
                }

                button {
                    display: none;
                }
            }
        }
    }
}