.cta {
    background-color:$light-coral;
    height: 196px;
    display: flex;
    justify-content: center;
    align-items: center;

    .cta-content {
        height: 48px;
        width: 917px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        h2 {
            color: $sacramento-state-green;
        }
    }
}

@media (max-width: $mobile-breakpoint) {
    .cta {
        background-color:$light-coral;
        height: 302px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .cta-content {
            height: 136px;
            width: 327px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            
            h2 {
                color: $sacramento-state-green;
                font-size: 32px;
                line-height: 32px;
            }
        }
    }
}