.hero {
    background-color: $midnight-green;    
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-content {
        width: 1110px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .hero-header {
            width: 635px;
            height: 200px;
            display: flex;
            align-items: center;

            span {
                color: $light-coral;
            }
        }

        .hero-description {
            width: 445px;
            height: 195px;
            display: flex;
            align-items:end;

        }
}
}